In [1]:
import pandas as pd

emea1 = pd.read_csv('Master 1 EMEA.csv', delimiter=',', encoding='ISO-8859-1')
emea1.head()
emea2 = pd.read_csv('Master 2 EMEA.csv', delimiter=',', encoding='ISO-8859-1')
emea = pd.concat([emea1, emea2], ignore_index=True)
emea1.info()
emea2.info()
emea = emea.drop(emea.columns[39:45], axis = 1)
emea.info()
emea.isnull().sum()

#Clean date
emea['Day'].unique()
emea['clean_day'] = emea['Day'].astype(str).apply(lambda x: x.split(' ')[0] if ' ' in x else x)
emea['clean_day'] = emea['clean_day'].astype(str).apply(lambda x: str(x).zfill(2))
emea['clean_month'] = emea['Fiscal month'].astype(str).apply(lambda x: x.split(' ')[0] if ' ' in x else x)
emea['clean_month'].unique()
emea['clean_month'] = emea['clean_month'].astype(str).apply(lambda x: str(x).zfill(2))
emea['cleaned_date'] = '2022-'+emea['clean_month']+'-'+emea['clean_day']
emea['cleaned_date'].unique()
emea['cleaned_date'] = pd.to_datetime(emea['cleaned_date'], format = '%Y-%m-%d', errors='coerce')
print(emea['cleaned_date'].dtype)
emea['cleaned_month'] = emea['cleaned_date'].apply(lambda x: x.month)
emea['cleaned_day'] = emea['cleaned_date'].apply(lambda x: x.day)
emea['cleaned_date'].isnull().sum()
##46,087 is null

#Drop unneccesary columns
emea.drop(['DODTYP', 'REPEAT Acc. No.'], axis = 1)
emea.info()

#LIST OF COLUMNS NAME TO CALL FROM
print(list(emea.columns))

#Convert data type
##Remove any strange characters that is not a digit, decimal points; then connect the rest together
emea[' VALUE \x80 '].unique()
def clean_string(s):
    if isinstance(s, str):
        # Remove any character that is not a digit, decimal point, or negative sign
        cleaned = ''.join(char for char in s if char.isdigit() or char == '.') #or char == '-'
        return cleaned
    else:
        return s
emea['value_convert'] = emea[' VALUE \x80 '].apply(clean_string)
#Check and count the number of empty-string cells (empty cells but was not count as NaN)
empty_string_count = emea['value_convert'].apply(lambda x: x == '').sum()

##Convert to numeric and raise the error where there are unconvertible values
def safe_to_numeric(data):
    try:
        return pd.to_numeric(data, errors='raise')
    except ValueError as e:
        print(f"ValueError occurred: {e}")
        # Handle the error, for example by coercing invalid entries to NaN
        return pd.to_numeric(data, errors='raise')
emea['value_float'] = emea['value_convert'].apply(safe_to_numeric)
emea['value_float'].dtype

#Convert product volume per piece column
emea['volume_convert'] = emea[' Product volume (m3 / pcs) '].apply(clean_string)
empty_string_count_vol = emea['volume_convert'].apply(lambda x: x == '').sum()
print(empty_string_count_vol)

###END OF THE CLEANING. Next step we just chose the columns that are relevant for the analysis to work with.

#Select relevant columns to work with
order_pattern = emea[['Account Number',
                      'Order Number','SKU Number', 'Quantity', 'Sales Unit of Measure', 'Sales Order Origin',
                      ' VALUE \x80 ',' Product weight (kg. / pcs) ',' Product volume (m3 / pcs) ',
                      'Product category', 'Product Segment', 'Destination country', 'Customer type',
                      'cleaned_date', 'cleaned_month', 'cleaned_day']]
order_pattern.info()
order_pattern.isnull().sum()
sales_pattern = order_pattern[['Order Number','SKU Number', 'Quantity', 'Sales Unit of Measure',
                      ' VALUE \x80 ',' Product weight (kg. / pcs) ',' Product volume (m3 / pcs) ',
                      'Product category', 'Product Segment', 'Customer type',
                      'cleaned_date', 'cleaned_month', 'cleaned_day']]
sales_pattern.info()
sales_pattern.isnull().sum()
sales_pattern.dropna()


#Order frequency per customer types
channel_count = sales_pattern.pivot_table(
    index='Customer type',
    values='Order Number',
    aggfunc=lambda x: x.nunique()
).reset_index()

q1 = sales_pattern[sales_pattern['cleaned_month'].isin([1, 2, 3])]
q1_order_counts = q1.groupby('Customer type')['Order Number'].nunique().reset_index()
sales_pattern['Customer type'].unique()
shop_type_3 = sales_pattern[sales_pattern['Customer type'] == "SHOP TYPE 3"]
personalized_material = sales_pattern[sales_pattern['Customer type'] == "PERSONALIZED MATERIAL"]
dist_exp = sales_pattern[sales_pattern['Customer type'] == "DISTRIBUTOR / EXPORT"]
shop_type_2 = sales_pattern[sales_pattern['Customer type'] == "SHOP TYPE 2"]
shop_type_1 = sales_pattern[sales_pattern['Customer type'] == "SHOP TYPE 1"]
mail_order = sales_pattern[sales_pattern['Customer type'] == "MAIL ORDER"]
intercompany = sales_pattern[sales_pattern['Customer type'] == "INTERCOMPANY"]
department_store = sales_pattern[sales_pattern['Customer type'] == "DEPARTMENT STORE"]
track = sales_pattern[sales_pattern['Customer type'] == "TRACK"]
cross_market = sales_pattern[sales_pattern['Customer type'] == "CROSS MARKET CUSTOMER"]
promotion = sales_pattern[sales_pattern['Customer type'] == "PROMOTION"]
misc = sales_pattern[sales_pattern['Customer type'] == "MISC"]
internet_acc = sales_pattern[sales_pattern['Customer type'] == "INTERNET ACCOUNT"]
sport_allowance = sales_pattern[sales_pattern['Customer type'] == "SPORT ALLOWANCE"]
own_use = sales_pattern[sales_pattern['Customer type'] == "OWN USE"]
direct_cus = sales_pattern[sales_pattern['Customer type'] == "DIRECT TO CONSUMER"]

<ipython-input-1-dd1606825311>:3: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  emea1 = pd.read_csv('Master 1 EMEA.csv', delimiter=',', encoding='ISO-8859-1')
<ipython-input-1-dd1606825311>:5: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  emea2 = pd.read_csv('Master 2 EMEA.csv', delimiter=',', encoding='ISO-8859-1')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40811 entries, 0 to 40810
Data columns (total 45 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Market                        40811 non-null  int64
 1   Warehouse                     40811 non-null  object
 2   Warehouse Description         40811 non-null  object
 3   Account Number                40811 non-null  object
 4   DOSTMU                        40811 non-null  int64
 5   Order Number                  40811 non-null  int64
 6   Order Number Suffix           40811 non-null  int64
 7   SKU Number                    40811 non-null  object
 8   Quantity                      40811 non-null  int64
 9   Sales Unit of Measure         40811 non-null  object
 10  Sales Order Origin            37771 non-null  object
 11  DODTYP                        36477 non-null  object
 12  System Shipping Date          40811 non-null  int64
 13  Value                         40811 non-null  float64
 14  Currency                      40811 non-null  object
 15  Custom?                       1 non-null      object
 16   VALUE                       40811 non-null  object
 17  Negative?                     0 non-null      float64
 18   Product weight (kg. / pcs)   40811 non-null  float64
 19   Line weight                  40811 non-null  float64
 20   Product volume (m3 / pcs)    40811 non-null  float64
 21   Line volume                  40811 non-null  float64
 22  Month/Day                     40811 non-null  int64
 23  Month                         40811 non-null  int64
 24  Product category              40811 non-null  int64
 25  Product Segment               40811 non-null  object
 26  Destination country           40211 non-null  object
 27  Customer type                 40807 non-null  object
 28  Credit Code                   40810 non-null  object
 29  Brand                         40810 non-null  object
 30  Region                        40211 non-null  object
 31  WHS                           40810 non-null  object
 32  Day                           40810 non-null  float64
 33  Fiscal month                  40810 non-null  float64
 34  Date                          40810 non-null  object
 35  ISO Week                      40810 non-null  object
 36  REPEAT Acc. No.               40810 non-null  object
 37  DTC Label                     40810 non-null  float64
 38  Group Value                   40810 non-null  float64
 39  Unnamed: 39                   0 non-null      float64
 40  Unnamed: 40                   0 non-null      float64
 41  Unnamed: 41                   0 non-null      float64
 42  Unnamed: 42                   0 non-null      float64
 43  Unnamed: 43                   0 non-null      float64
 44  Unnamed: 44                   0 non-null      float64
dtypes: float64(16), int64(9), object(20)
memory usage: 14.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41191 entries, 0 to 41190
Data columns (total 45 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Market                        41191 non-null  int64
 1   Warehouse                     41191 non-null  object
 2   Warehouse Description         41191 non-null  object
 3   Account Number                41191 non-null  object
 4   DOSTMU                        41191 non-null  int64
 5   Order Number                  41191 non-null  int64
 6   Order Number Suffix           41191 non-null  int64
 7   SKU Number                    41191 non-null  object
 8   Quantity                      41191 non-null  int64
 9   Sales Unit of Measure         41191 non-null  object
 10  Sales Order Origin            35545 non-null  object
 11  DODTYP                        35476 non-null  object
 12  System Shipping Date          41191 non-null  int64
 13  Value                         41191 non-null  float64
 14  Currency                      41191 non-null  object
 15  Custom?                       3189 non-null   object
 16   VALUE                       41191 non-null  object
 17  Negative?                     1 non-null      object
 18   Product weight (kg. / pcs)   41191 non-null  float64
 19   Line weight                  41191 non-null  float64
 20   Product volume (m3 / pcs)    41191 non-null  object
 21   Line volume                  41191 non-null  object
 22  Month/Day                     41191 non-null  int64
 23  Month                         41191 non-null  int64
 24  Product category              41191 non-null  object
 25  Product Segment               41191 non-null  object
 26  Destination country           41117 non-null  object
 27  Customer type                 41159 non-null  object
 28  Credit Code                   41163 non-null  object
 29  Brand                         41191 non-null  object
 30  Region                        41117 non-null  object
 31  WHS                           41191 non-null  object
 32  Day                           41191 non-null  int64
 33  Fiscal month                  41191 non-null  int64
 34  Date                          41191 non-null  object
 35  ISO Week                      41191 non-null  object
 36  REPEAT Acc. No.               41191 non-null  object
 37  DTC Label                     41191 non-null  int64
 38  Group Value                   41191 non-null  object
 39  Unnamed: 39                   0 non-null      float64
 40  Unnamed: 40                   0 non-null      float64
 41  Unnamed: 41                   0 non-null      float64
 42  Unnamed: 42                   0 non-null      float64
 43  Unnamed: 43                   0 non-null      float64
 44  Unnamed: 44                   0 non-null      float64
dtypes: float64(9), int64(11), object(25)
memory usage: 14.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82002 entries, 0 to 82001
Data columns (total 39 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Market                        82002 non-null  int64
 1   Warehouse                     82002 non-null  object
 2   Warehouse Description         82002 non-null  object
 3   Account Number                82002 non-null  object
 4   DOSTMU                        82002 non-null  int64
 5   Order Number                  82002 non-null  int64
 6   Order Number Suffix           82002 non-null  int64
 7   SKU Number                    82002 non-null  object
 8   Quantity                      82002 non-null  int64
 9   Sales Unit of Measure         82002 non-null  object
 10  Sales Order Origin            73316 non-null  object
 11  DODTYP                        71953 non-null  object
 12  System Shipping Date          82002 non-null  int64
 13  Value                         82002 non-null  float64
 14  Currency                      82002 non-null  object
 15  Custom?                       3190 non-null   object
 16   VALUE                       82002 non-null  object
 17  Negative?                     1 non-null      object
 18   Product weight (kg. / pcs)   82002 non-null  float64
 19   Line weight                  82002 non-null  float64
 20   Product volume (m3 / pcs)    82002 non-null  object
 21   Line volume                  82002 non-null  object
 22  Month/Day                     82002 non-null  int64
 23  Month                         82002 non-null  int64
 24  Product category              82002 non-null  object
 25  Product Segment               82002 non-null  object
 26  Destination country           81328 non-null  object
 27  Customer type                 81966 non-null  object
 28  Credit Code                   81973 non-null  object
 29  Brand                         82001 non-null  object
 30  Region                        81328 non-null  object
 31  WHS                           82001 non-null  object
 32  Day                           82001 non-null  float64
 33  Fiscal month                  82001 non-null  float64
 34  Date                          82001 non-null  object
 35  ISO Week                      82001 non-null  object
 36  REPEAT Acc. No.               82001 non-null  object
 37  DTC Label                     82001 non-null  float64
 38  Group Value                   82001 non-null  object
dtypes: float64(6), int64(8), object(25)
memory usage: 24.4+ MB
datetime64[ns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82002 entries, 0 to 82001
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Market                        82002 non-null  int64
 1   Warehouse                     82002 non-null  object
 2   Warehouse Description         82002 non-null  object
 3   Account Number                82002 non-null  object
 4   DOSTMU                        82002 non-null  int64
 5   Order Number                  82002 non-null  int64
 6   Order Number Suffix           82002 non-null  int64
 7   SKU Number                    82002 non-null  object
 8   Quantity                      82002 non-null  int64
 9   Sales Unit of Measure         82002 non-null  object
 10  Sales Order Origin            73316 non-null  object
 11  DODTYP                        71953 non-null  object
 12  System Shipping Date          82002 non-null  int64
 13  Value                         82002 non-null  float64
 14  Currency                      82002 non-null  object
 15  Custom?                       3190 non-null   object
 16   VALUE                       82002 non-null  object
 17  Negative?                     1 non-null      object
 18   Product weight (kg. / pcs)   82002 non-null  float64
 19   Line weight                  82002 non-null  float64
 20   Product volume (m3 / pcs)    82002 non-null  object
 21   Line volume                  82002 non-null  object
 22  Month/Day                     82002 non-null  int64
 23  Month                         82002 non-null  int64
 24  Product category              82002 non-null  object
 25  Product Segment               82002 non-null  object
 26  Destination country           81328 non-null  object
 27  Customer type                 81966 non-null  object
 28  Credit Code                   81973 non-null  object
 29  Brand                         82001 non-null  object
 30  Region                        81328 non-null  object
 31  WHS                           82001 non-null  object
 32  Day                           82001 non-null  float64
 33  Fiscal month                  82001 non-null  float64
 34  Date                          82001 non-null  object
 35  ISO Week                      82001 non-null  object
 36  REPEAT Acc. No.               82001 non-null  object
 37  DTC Label                     82001 non-null  float64
 38  Group Value                   82001 non-null  object
 39  clean_day                     82002 non-null  object
 40  clean_month                   82002 non-null  object
 41  cleaned_date                  0 non-null      datetime64[ns]
 42  cleaned_month                 0 non-null      float64
 43  cleaned_day                   0 non-null      float64
dtypes: datetime64[ns](1), float64(8), int64(8), object(27)
memory usage: 27.5+ MB
['Market', 'Warehouse', 'Warehouse Description', 'Account Number', 'DOSTMU', 'Order Number', 'Order Number Suffix', 'SKU Number', 'Quantity', 'Sales Unit of Measure', 'Sales Order Origin', 'DODTYP', 'System Shipping Date', 'Value', 'Currency', 'Custom?', ' VALUE \x80 ', 'Negative?', ' Product weight (kg. / pcs) ', ' Line weight ', ' Product volume (m3 / pcs) ', ' Line volume ', 'Month/Day', 'Month', 'Product category', 'Product Segment', 'Destination country', 'Customer type', 'Credit Code', 'Brand', 'Region', 'WHS', 'Day', 'Fiscal month', 'Date', 'ISO Week', 'REPEAT Acc. No.', 'DTC Label', 'Group Value', 'clean_day', 'clean_month', 'cleaned_date', 'cleaned_month', 'cleaned_day']
151
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82002 entries, 0 to 82001
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Account Number                82002 non-null  object
 1   Order Number                  82002 non-null  int64
 2   SKU Number                    82002 non-null  object
 3   Quantity                      82002 non-null  int64
 4   Sales Unit of Measure         82002 non-null  object
 5   Sales Order Origin            73316 non-null  object
 6    VALUE                       82002 non-null  object
 7    Product weight (kg. / pcs)   82002 non-null  float64
 8    Product volume (m3 / pcs)    82002 non-null  object
 9   Product category              82002 non-null  object
 10  Product Segment               82002 non-null  object
 11  Destination country           81328 non-null  object
 12  Customer type                 81966 non-null  object
 13  cleaned_date                  0 non-null      datetime64[ns]
 14  cleaned_month                 0 non-null      float64
 15  cleaned_day                   0 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(10)
memory usage: 10.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82002 entries, 0 to 82001
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Order Number                  82002 non-null  int64
 1   SKU Number                    82002 non-null  object
 2   Quantity                      82002 non-null  int64
 3   Sales Unit of Measure         82002 non-null  object
 4    VALUE                       82002 non-null  object
 5    Product weight (kg. / pcs)   82002 non-null  float64
 6    Product volume (m3 / pcs)    82002 non-null  object
 7   Product category              82002 non-null  object
 8   Product Segment               82002 non-null  object
 9   Customer type                 81966 non-null  object
 10  cleaned_date                  0 non-null      datetime64[ns]
 11  cleaned_month                 0 non-null      float64
 12  cleaned_day                   0 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(7)
memory usage: 8.1+ MB

In [10]:
pd.set_option('display.max_columns', None)
emea.head(5)

emea["Date"].unique()

array(['11-04-2022', '13-01-2022', '04-03-2022', '15-04-2022',
       '20-04-2022', '07-03-2022', '06-04-2022', '22-04-2022',
       '23-04-2022', '19-05-2022', '10-02-2022', '08-03-2022',
       '03-01-2022', '12-01-2022', '11-01-2022', '17-02-2022',
       '10-03-2022', '04-04-2022', '16-02-2022', '24-04-2022',
       '02-05-2022', '28-02-2022', '31-02-2022', '22-05-2022',
       '21-04-2022', '14-06-2022', '15-06-2022', '04-01-2022',
       '20-01-2022', '24-02-2022', '02-02-2022', '28-03-2022',
       '09-03-2022', '02-03-2022', '01-03-2022', '11-03-2022',
       '18-05-2022', '17-03-2022', '01-04-2022', '30-04-2022',
       '21-03-2022', '27-06-2022', '24-06-2022', '05-04-2022',
       '19-04-2022', '20-05-2022', '17-01-2022', '11-02-2022',
       '14-02-2022', '26-10-2022', '24-03-2022', '23-03-2022',
       '14-03-2022', '21-02-2022', '31-04-2022', '06-01-2022',
       '13-04-2022', '18-02-2022', '19-01-2022', '03-03-2022',
       '17-05-2022', '24-09-2022', '22-03-2022', '08-12-2022',
       '14-01-2022', '07-02-2022', '13-06-2022', '30-07-2022',
       '25-04-2022', '25-02-2022', '18-03-2022', '29-04-2022',
       '18-01-2022', '27-02-2022', '26-02-2022', '29-07-2022',
       '15-03-2022', '09-02-2022', '15-02-2022', '03-05-2022',
       '10-01-2022', '12-07-2022', '05-01-2022', '03-06-2022',
       '21-06-2022', '10-08-2022', '29-10-2022', '01-07-2022',
       '25-05-2022', '28-04-2022', '23-06-2022', '16-03-2022',
       '28-07-2022', '08-04-2022', '07-04-2022', '10-05-2022',
       '05-05-2022', '14-04-2022', '19-07-2022', '11-05-2022',
       '04-05-2022', '31-06-2022', '23-07-2022', '29-05-2022',
       '01-06-2022', '05-07-2022', '21-01-2022', '29-09-2022',
       '06-09-2022', '09-05-2022', '24-07-2022', '25-06-2022',
       '28-05-2022', '05-12-2022', '06-07-2022', '25-03-2022',
       '06-05-2022', '13-09-2022', '30-10-2022', '04-07-2022',
       '08-02-2022', '21-07-2022', '13-07-2022', '02-06-2022',
       '18-07-2022', '27-07-2022', '15-07-2022', '14-07-2022',
       '16-06-2022', '07-06-2022', '07-07-2022', '12-04-2022',
       '16-05-2022', '12-05-2022', '08-06-2022', '11-08-2022',
       '30-06-2022', '28-08-2022', '09-06-2022', '08-09-2022',
       '04-02-2022', '17-06-2022', '26-05-2022', '10-06-2022',
       '17-08-2022', '09-09-2022', '31-09-2022', '11-07-2022',
       '02-08-2022', '20-07-2022', '25-08-2022', '11-10-2022',
       '13-05-2022', '28-10-2022', '22-08-2022', '23-09-2022',
       '04-11-2022', '01-02-2022', '27-10-2022', '25-11-2022',
       '07-09-2022', '03-08-2022', '25-09-2022', '16-08-2022',
       '24-11-2022', nan, '20-02-2022', '07-01-2022', '05-03-2022',
       '12-02-2022', '08-01-2022', '22-07-2022', '01-08-2022',
       '05-02-2022', '03-02-2022', '26-06-2022', '08-07-2022',
       '04-08-2022', '06-06-2022', '14-09-2022', '26-08-2022',
       '03-10-2022', '26-03-2022', '13-03-2022', '09-08-2022',
       '08-08-2022', '12-03-2022', '29-02-2022', '06-10-2022',
       '05-09-2022', '18-08-2022', '30-09-2022', '29-08-2022',
       '12-10-2022', '01-12-2022', '22-10-2022', '04-10-2022',
       '02-11-2022', '27-05-2022', '20-09-2022', '15-09-2022',
       '15-01-2022', '21-10-2022', '01-09-2022', '07-11-2022',
       '20-06-2022', '19-03-2022', '27-08-2022', '02-09-2022',
       '05-08-2022', '15-12-2022', '09-04-2022', '27-11-2022',
       '21-09-2022', '15-08-2022', '16-09-2022', '05-10-2022',
       '08-11-2022', '12-09-2022', '26-09-2022', '14-11-2022',
       '03-09-2022', '14-10-2022', '18-10-2022', '19-08-2022',
       '10-09-2022', '18-06-2022', '23-10-2022', '22-09-2022',
       '13-10-2022', '01-11-2022', '10-11-2022', '09-11-2022',
       '21-12-2022', '03-11-2022', '23-12-2022'], dtype=object)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82002 entries, 0 to 82001
Data columns (total 47 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Market                        82002 non-null  int64
 1   Warehouse                     82002 non-null  object
 2   Warehouse Description         82002 non-null  object
 3   Account Number                82002 non-null  object
 4   DOSTMU                        82002 non-null  int64
 5   Order Number                  82002 non-null  int64
 6   Order Number Suffix           82002 non-null  int64
 7   SKU Number                    82002 non-null  object
 8   Quantity                      82002 non-null  int64
 9   Sales Unit of Measure         82002 non-null  object
 10  Sales Order Origin            73316 non-null  object
 11  DODTYP                        71953 non-null  object
 12  System Shipping Date          82002 non-null  int64
 13  Value                         82002 non-null  float64
 14  Currency                      82002 non-null  object
 15  Custom?                       3190 non-null   object
 16   VALUE                       82002 non-null  object
 17  Negative?                     1 non-null      object
 18   Product weight (kg. / pcs)   82002 non-null  float64
 19   Line weight                  82002 non-null  float64
 20   Product volume (m3 / pcs)    82002 non-null  object
 21   Line volume                  82002 non-null  object
 22  Month/Day                     82002 non-null  int64
 23  Month                         82002 non-null  int64
 24  Product category              82002 non-null  object
 25  Product Segment               82002 non-null  object
 26  Destination country           81328 non-null  object
 27  Customer type                 81966 non-null  object
 28  Credit Code                   81973 non-null  object
 29  Brand                         82001 non-null  object
 30  Region                        81328 non-null  object
 31  WHS                           82001 non-null  object
 32  Day                           82001 non-null  float64
 33  Fiscal month                  82001 non-null  float64
 34  Date                          82001 non-null  object
 35  ISO Week                      82001 non-null  object
 36  REPEAT Acc. No.               82001 non-null  object
 37  DTC Label                     82001 non-null  float64
 38  Group Value                   82001 non-null  object
 39  clean_day                     82002 non-null  object
 40  clean_month                   82002 non-null  object
 41  cleaned_date                  0 non-null      datetime64[ns]
 42  cleaned_month                 0 non-null      float64
 43  cleaned_day                   0 non-null      float64
 44  value_convert                 82002 non-null  object
 45  value_float                   79285 non-null  float64
 46  volume_convert                82002 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(8), object(29)
memory usage: 29.4+ MB